/*CSS index */
*
{
    margin: 0;
    padding: 0;
}
.Entête 
{
    display: flex;
    justify-content: space-between;  
    background-color: rgb(22, 22, 22);
    padding: 60px;
    border-top: 3px solid ghostwhite;
    border-bottom: 3px solid ghostwhite;
    margin: 0 auto;
    right: 0;
    left: 0;
    position: fixed;
    padding-left: 30%;
    padding-right: 10%;    
}
a
{
    font-family: "Font global";
}
p
{
    font-family: "Font global";
}
.logoace
{
    display: flex;
    justify-content: flex-start;
    
}

.logo
{
    color: ghostwhite;    
    font-family: "Ma fonte";
    font-size: 50px;
    margin: 40px 0 0 170px;
    position: fixed;
    z-index: 2;
    padding: 0;
}
@font-face {
    font-family: "Ma fonte";
    src: url('font/AlexBrush-Regular.ttf');
}
.Numero
{
    color: ghostwhite;
    font-size: 20px;      
}
.Entête a
{
    color: ghostwhite;
    font-size: 20px; 
       
}

body#Accueil
{
    background-color: dimgrey; 
       
}


/*CSS Domotique */

body#Domotique
{
    background-color: dimgrey;
}
.img1
{
    
    padding-top: 180px;
    padding-left: 5%;
    float: left;   
}
.titreimg1
{
    padding-top: 190px;
    padding-left: 35%;
    color: ghostwhite;
    font-family: "Font global";
}
@font-face {
    font-family: "Font global";
    src: url('font/Alice-Regular.ttf');
}
.texteimg1
{
    color: black;
    padding-left: 35%;
    font-size: 20px;
}

/*CSS Inter&Sec */

body#Securite
{
    background-color: dimgrey;
}

/*CSS Electricité */

body#Electricite
{
    background-color: dimgrey;
}


/*CSS Contact */

body#Contact
{
    background-color: dimgrey;
}
