/*CSS index */
*
{
    margin: 0;
    padding: 0;
}
.Entête 
{
    display: flex;
    justify-content: space-between;  
    background-color: rgb(22, 22, 22);
    padding: 60px;
    border-top: 3px solid ghostwhite;
    border-bottom: 3px solid ghostwhite;
    margin: 0 auto;
    right: 0;
    left: 0;
    position: fixed;
    padding-left: 30%;
    padding-right: 10%;    
}
a
{
    font-family: "Font global";
}
p
{
    font-family: "Font global";
}
.logoace
{
    display: flex;
    justify-content: flex-start;
    
}

.logo
{
    color: ghostwhite;    
    font-family: "Ma fonte";
    font-size: 50px;
    margin: 2.3% 0 0 10%;
    position: fixed;
    z-index: 2;
    padding: 0;
}
@font-face {
    font-family: "Ma fonte";
    src: url('font/AlexBrush-Regular.ttf');
}
.Numero
{
    color: ghostwhite;
    font-size: 20px;      
}
.Entête a
{
    color: ghostwhite;
    font-size: 20px; 
       
}

body#Accueil
{
    background-color: dimgrey; 
       
}


/*CSS Domotique */

body#Domotique
{
    background-color: dimgrey;
}
.img1
{
    border: 2px solid ghostwhite;
    
    float: left; 
    margin-top: 180px;
    margin-left: 5%;
    
}
.titreimg1
{
    padding-top: 190px;
    padding-left: 35%;
    color: ghostwhite;
    font-family: "Font global";
}
@font-face {
    font-family: "Font global";
    src: url('font/Alice-Regular.ttf');
}
.texteimg1
{
    color: black;
    padding-left: 35%;
    font-size: 20px;
}
.séparation
{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
.img2
{
    border: 2px solid ghostwhite;
    margin-top: 50px;
    margin-right: 5%;
    float: right;   
}
.titreimg2
{
    padding-top: 60px;
    padding-left: 15%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg2
{
    color: black;
    padding-left: 15%;
    font-size: 20px;
}

/*CSS Inter&Sec */

body#Securite
{
    background-color: dimgrey;
}
.img3
{
    border: 2px solid ghostwhite;
    padding: 0;
    float: left; 
    margin-top: 180px;
    margin-left: 5%;   
}
.titreimg3
{
    padding-top: 190px;
    padding-left: 35%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg3
{
    color: black;
    padding-left: 35%;
    font-size: 20px;
}
.img4
{
    
    border: 2px solid ghostwhite;
    margin-top: 50px;
    margin-right: 5%;
    float: right;   
}
.titreimg4
{
    padding-top: 60px;
    padding-left: 15%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg4
{
    color: black;
    padding-left: 15%;
    font-size: 20px;
}
/*CSS Electricité */

body#Electricite
{
    background-color: dimgrey;
}
.img5
{
    border: 2px solid ghostwhite;
    padding: 0;
    float: left; 
    margin-top: 180px;
    margin-left: 5%;   
}
.titreimg5
{
    padding-top: 190px;
    padding-left: 35%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg5
{
    color: black;
    padding-left: 35%;
    font-size: 20px;
}
.img6
{
    
    border: 2px solid ghostwhite;
    margin-top: 50px;
    margin-right: 5%;
    float: right;   
}
.titreimg6
{
    padding-top: 60px;
    padding-left: 15%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg6
{
    color: black;
    padding-left: 15%;
    font-size: 20px;
}
/*CSS Contact */

body#Contact
{
    background-color: dimgrey;
}
p {
    margin-top: 0px;
}
   
fieldset {
    margin-bottom: 15px;
    padding: 10px;
    margin-right: 75%;

}   
legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
    
}
   
label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
    
}
   
em {
    font-weight: bold;
    font-style: normal;
    color: maroon;
}
   
input:focus {
    background: #eaeaea;
}
   
input, textarea {
    width: 249px;
}
   
textarea {
    height: 100px;
    margin-left: 15px;
}
   
select {
    width: 254px;
}
   
input[type=checkbox] {
    width: 10px;
}
   
input[type=submit] {
    width: 150px;
    padding: 10px;
}
.Formulaire
{
    margin-left: 5%;
    font-size: 20px;
}