/*CSS index */
.Entête {
    text-align: center;
    background-color: black;
}
body#Accueil
{
    background-color: dimgrey;
}
a
{
    color: ghostwhite;
    font-size: 20px;
}

/*CSS Domotique */

body#Domotique
{
    background-color: dimgrey;
}


/*CSS Inter&Sec */

body#Securite
{
    background-color: dimgrey;
}

/*CSS Electricité */

body#Electricite
{
    background-color: dimgrey;
}


/*CSS Contact */

body#Contact
{
    background-color: dimgrey;
}