/*CSS index */
*
{
    margin: 0;
    padding: 0;
}
.Entête 
{
    display: flex;
    justify-content: space-between;  
    background-color: rgb(22, 22, 22);
    padding: 60px;
    border-top: 3px solid ghostwhite;
    border-bottom: 3px solid ghostwhite;
    margin: 0 auto;
    right: 0;
    left: 0;
    position: fixed;
    padding-left: 30%;
    padding-right: 10%;    
}
a
{
    font-family: "Font global";
}
p
{
    font-family: "Font global";
}
.logoace
{
    display: flex;
    justify-content: flex-start;
    
}

.logo
{
    color: ghostwhite;    
    font-family: "Ma fonte";
    font-size: 50px;
    margin: 40px 0 0 170px;
    position: fixed;
    z-index: 2;
    padding: 0;
}
@font-face {
    font-family: "Ma fonte";
    src: url('font/AlexBrush-Regular.ttf');
}
.Numero
{
    color: ghostwhite;
    font-size: 20px;      
}
.Entête a
{
    color: ghostwhite;
    font-size: 20px; 
       
}

body#Accueil
{
    background-color: dimgrey; 
       
}


/*CSS Domotique */

body#Domotique
{
    background-color: dimgrey;
}
.img1
{
    border: 2px solid ghostwhite;
    
    float: left; 
    margin-top: 180px;
    margin-left: 5%;
    
}
.titreimg1
{
    padding-top: 190px;
    padding-left: 35%;
    color: ghostwhite;
    font-family: "Font global";
}
@font-face {
    font-family: "Font global";
    src: url('font/Alice-Regular.ttf');
}
.texteimg1
{
    color: black;
    padding-left: 35%;
    font-size: 20px;
}
.séparation
{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
.img2
{
    border: 2px solid ghostwhite;
    margin-top: 50px;
    margin-right: 5%;
    float: right;   
}
.titreimg2
{
    padding-top: 60px;
    padding-left: 15%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg2
{
    color: black;
    padding-left: 15%;
    font-size: 20px;
}

/*CSS Inter&Sec */

body#Securite
{
    background-color: dimgrey;
}
.img3
{
    border: 2px solid ghostwhite;
    padding: 0;
    float: left; 
    margin-top: 180px;
    margin-left: 5%;   
}
.titreimg3
{
    padding-top: 190px;
    padding-left: 35%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg3
{
    color: black;
    padding-left: 35%;
    font-size: 20px;
}
.img4
{
    
    border: 2px solid ghostwhite;
    margin-top: 50px;
    margin-right: 5%;
    float: right;   
}
.titreimg4
{
    padding-top: 60px;
    padding-left: 15%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg4
{
    color: black;
    padding-left: 15%;
    font-size: 20px;
}
/*CSS Electricité */

body#Electricite
{
    background-color: dimgrey;
}
.img5
{
    border: 2px solid ghostwhite;
    padding: 0;
    float: left; 
    margin-top: 180px;
    margin-left: 5%;   
}
.titreimg5
{
    padding-top: 190px;
    padding-left: 35%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg5
{
    color: black;
    padding-left: 35%;
    font-size: 20px;
}
.img6
{
    
    border: 2px solid ghostwhite;
    margin-top: 50px;
    margin-right: 5%;
    float: right;   
}
.titreimg6
{
    padding-top: 60px;
    padding-left: 15%;
    color: ghostwhite;
    font-family: "Font global";
}
.texteimg6
{
    color: black;
    padding-left: 15%;
    font-size: 20px;
}
/*CSS Contact */

body#Contact
{
    background-color: dimgrey;
}
form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
  }
  
  textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
  }
  
  .button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 780px; /* même taille que les étiquettes */
  }
  
  button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    margin-left: .5em;
  }